<div class="background">
  <md-card class="main">
    <md-card-title>Request Bump</md-card-title>
    <md-card-content>
      <p>{{error}}</p>
      <form [formGroup]="bumpForm" (ngSubmit)="requestBump(bumpForm.value)">
        <md-input formControlName="amount" type="text" placeholder="amount">
          <span md-suffix>XP</span>
        </md-input>
        <md-input formControlName="forWhat" type="text" placeholder="for what?"></md-input>
        <div class="date-picker">
          <material-datepicker [(date)]="bumpDate" dateFormat="YYYY-MM-DD" placeholder="date (YYYY/MM/DD)"></material-datepicker>
        </div>
        <button md-raised-button type="submit" [disabled]="bumpForm.invalid" color="accent">
          Submit
        </button>
      </form>
    </md-card-content>
  </md-card>
  <md-list>
    <md-list-item>
      <md-grid-list cols="3" rowHeight="25px">
        <md-grid-tile>Date</md-grid-tile>
        <md-grid-tile>Amount</md-grid-tile>
        <md-grid-tile>Granted</md-grid-tile>
      </md-grid-list>
    </md-list-item>
    <md-list-item *ngFor="let bump of bumps | async">
      <md-grid-list cols="3" rowHeight="25px">
        <md-grid-tile>{{bump.whatDay | date:"MM/dd"}}</md-grid-tile>
        <md-grid-tile>{{bump.expAmount}}</md-grid-tile>
        <md-grid-tile>{{bump.issued}}</md-grid-tile>
      </md-grid-list>
    </md-list-item>
  </md-list>
</div>