<div>
  <md-toolbar color="accent">
    <md-grid-list cols="3" rowHeight="25px">
      <md-grid-tile>Name</md-grid-tile>
      <md-grid-tile>Requested</md-grid-tile>
      <md-grid-tile>Granted</md-grid-tile>
    </md-grid-list>
  </md-toolbar>
  <md-card *ngFor="let student of students">
    <md-grid-list cols="3" rowHeight="25px">
      <md-grid-tile>{{student.displayName}}</md-grid-tile>
      <md-grid-tile>{{student.requestedExp}}</md-grid-tile>
      <md-grid-tile>{{student.totalBumpExp}}</md-grid-tile>
    </md-grid-list>
  </md-card>
</div>